*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg{
    position: relative;
    background-image: url(IMAGENES/bg-duck-hunter\ \(1\).png);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    cursor: crosshair; /* cursor vuelve el cursor en forma de cruz */

}
#toggleSound {
    position: absolute;
    right: 0;
    margin: 10px;
    background-color: black;
    border: none;
    opacity: 0.6;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 10px;
}
