*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#bg {
    position: relative;
    background: url(IMAGENES/bg-duck-hunter\ \(1\).png);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    cursor: crosshair; /* cursor vuelve el cursor en forma de cruz */

}

#logo {
    float: none;
    animation: movimiento 2.5s linear infinite;
}
#logo img {
    margin: 50px;
    width: 350px;
}
@keyframes movimiento {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY();
    }
}

table {
    border-collapse: collapse;
    width: 300px;
    color: white;
    
    
    
    
}

table, th, td {
    border: 1px solid rgb(1, 1, 1);
    
    
    
}

i{
    color: white;
    
}

.color {
    background-color: #3cbcfc;
}

::placeholder{
    color: white;
    
}

.text {
    color: white;
    font-size: arial;
    background-color: #184b65;
    padding: 26px;
    font-size: 15px;
    border-radius: 20px;
}

.titulo{
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

#icon{
    bottom: .5rem;
    right: 1rem;
    margin-left: -2rem;
    user-select: none;
    cursor: pointer;
    
  }

  .tabla{
    text-align: center;
    margin-top: 30px;
    
    
    
  }

  .tabla th {
    color:white;
  }

  .centrar{
    margin: 0 auto;
    background-color: #184b65;
    

  }

  .text-table {
    color: white;

}

#dog li{
    float: none;
    animation: movimiento2 2.5s linear infinite;
}
#dog li img {
    display: block;
    width: 230px;
    height: 230px;
    margin-left: 150px;
}
@keyframes movimiento2 {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX();
    }
}

.button-start {
    margin-left: 50px;
    position: absolute;
    margin-bottom: 100px;
    padding: 0 80px;
    bottom: 0;
    left: 40%;
    line-height: 85px;
    background-color: black;
    opacity: 0.6;
    color: white;
    text-decoration: none;
    font-size: 60px;
    font-weight: bold;
  }
  .button-start:hover {
    background-color: white;
    color: black;
  }

